# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Logs
logs/
*.log

# Build
dist/
build/

# Archivos del sistema
.vscode/
.DS_Store
Thumbs.db

# Archivos subidos por los usuarios
uploads/logos/*
uploads/usuarios/*
uploads/qr/*

# Mantener las carpetas vacías
!uploads/logos/.gitkeep
!uploads/usuarios/.gitkeep
!uploads/qr/.gitkeep