# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Logs
logs/
*.log

# Build
dist/
build/

# Archivos del sistema
.vscode/
.DS_Store
Thumbs.db

# Ignorar archivos dentro de uploads
backend/uploads/logos/*
backend/uploads/usuarios/*
backend/uploads/qr/*

# No ignorar los .gitkeep
!backend/uploads/logos/.gitkeep
!backend/uploads/usuarios/.gitkeep
!backend/uploads/qr/.gitkeep